/******************************************************
 * ! Variables:
 * * --primary-color: rgba(45, 156, 219, 1);
 * * --secondary-color: rgba(0, 66, 114, 0.9);
 * * --tertiary-color-dark: rgba(61, 61, 61, 1);
 * * --tertiary-color-light: rgba(255, 255, 255, 1);
 * ! Property Values:
 * * Paragraph and Link Font Size -> font-size: 1.2em
 * * Container -> padding: 0 8rem;
 ******************************************************/

/* Style Variables */

@import '../root.css';

/* Fonts */

@import '../fonts.css';

/* Main Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans';
    scroll-behavior: smooth;
}

p, a {
    font-size: 1.2em;
}

.navbar {
    height: 10vh;
    width: 100%;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    color: white;
    font-weight: 1000;
}

.logo a {
    color: var(--primary-color);
    text-decoration: none;
}

.navigation {
    width: 40%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.25em;
}

.nav-link a {
    color: inherit;
    text-decoration: none;
}

#lang-select {
    height: 100%;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.landing {
    height: 75vh;
    padding: calc(15vh + 2.5rem) 8rem 5rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color);
    color: white;
}

.hero h1 {
    margin-bottom: 1em;
    font-size: 2.5em;
}

.hero p {
    margin-bottom: 2.5em;
}

.hero-buttons a {
    padding: .5em 1.5em;
    color: inherit;
    font-weight: bold;
}

.hero-buttons a:first-child {
    margin-right: 1em;
    background-color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

.hero-buttons a:first-child:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color-light);
}

.hero-buttons a:last-child::after {
    content: ' \2197';
}

.scroll-arrow {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
}

.scroll-arrow p:first-child {
    transform: rotate(-90deg);
}

.scroll-arrow p:last-child {
    margin-top: 2em;
}

/* Career Section -- (Adi) */
.career-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    margin: auto;
    padding: 3% 0;
}

.career-img {
    width: 100%;
    background-image: url(../../assets/img/career.png);
    background-size: cover;
    background-position-x: 70%;
    border-radius: 5px;
    min-height: 200px;
}

/* .career-img img {
    width: 100%;
} */

.career-text {
    width: 90%;
    margin: 1rem auto 0;
}

.career-text h2 {
    color: var(--secondary-color);
    font-size: 2em;
    padding: .5rem 0;
}

.career-text h3 {
    color: var(--primary-color);
    font-size: 1em;
    letter-spacing: 2px;
}

.career-detail {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.career-req {
    padding: 1rem 0;
}

.career-req h3 {
    color: var(--tertiary-color-dark);
    letter-spacing: 0;
}

.career-req ul, .career-req ol {
    margin: .5rem 2rem;
}

.career-req ul li, .career-req ol li {
    line-height: 2;
    color: rgba(0, 0, 0, 0.6);
}

.career-text button {
    width: 100%;
    padding: 1rem 0;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: var(--tertiary-color-light);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

.career-text button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

/* Contact Us Section -- (Adi) */
.contact-section {
    display: grid;
    grid-template-columns: 3fr 5fr;
    width: 90%;
    margin: auto;
    padding: 3% 0 5%;
}

.contact-text {
    margin-top: 2rem;
    margin-right: 2rem;
}

.contact-text h2 {
    color: var(--secondary-color);
    font-size: 2em;
    padding-bottom: 1rem;
}

.contact-text h3 {
    color: var(--primary-color);
    padding: 1rem 0;
    font-size: 1em;
    letter-spacing: 1px;
}

.contact-text p {
    margin-right: 2rem;
    line-height: 2;
    color: var(--tertiary-color-dark);
}

.contact-text ul {
    padding-left: 2rem;
}

.contact-text ul li {
    line-height: 2;
}

.contact-text a {
    display: block;
    margin-top: 2rem;
    color: var(--secondary-color);
    font-size: 1.25em;
    transition: .3s;
}

.contact-text a:hover {
    color: var(--primary-color);
}

.contact-maps {
    margin: 0 3%;
    margin-top: 2rem;
    min-height: 300px;
}

.contact-maps iframe {
    border-radius: 5px;
    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.06)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
}

/* Footer Section -- (Adi) */
footer {
    background-color: #1C1C1C;
    font-family: 'Inter';
}

.footer-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.footer-links {
    margin-top: 1rem;
    width: 100%;
    max-width: 300px;
}

.footer-links h3 {
    color: rgb(255, 255, 255, 0.5);
    font-size: 1em;
}

.footer-links ul {
    padding: .5em 0;
    list-style: none;
}

.footer-links ul li a {
    color: var(--tertiary-color-light);
    text-decoration: none;
    font-size: .8em;
    padding: 5px 0;
    transition: .3s;
}

.footer-links ul li a:hover {
    color: rgb(255, 255, 255, 0.5);
}

footer hr {
    border: 0;
    border-top: 1px solid rgb(255, 255, 255, 0.3);
}

.footer-extention {
    width: 90%;
    margin: auto;
    padding: 1rem 0;
}

.footer-language span {
    color: rgb(255, 255, 255, 0.5);
    padding-right: .5rem;
    cursor: pointer;
    transition: .3s;
}

.footer-language span:hover {
    color: var(--tertiary-color-light);
}

.footer-language span.footer-active {
    color: var(--tertiary-color-light);
}

.footer-cr {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.footer-cr .copyright {
    color: rgb(255, 255, 255, 0.5);
    font-size: .8em;
}

.footer-logo {
    color: #fff;
}

@media(max-width: 992px) {
    .contact-section {
        grid-template-columns: 1fr;
    }

    .career-section {
        grid-template-columns: 1fr;
    }

    .career-detail {
        grid-template-columns: 1fr;
    }
}