/******************************************************
 * ! Variables:
 * * --primary-color: rgba(45, 156, 219, 1);
 * * --secondary-color: rgba(1, 41, 70, 1);
 * * --text-color: rgba(53, 64, 82, 0.7);
 * * --tertiary-color-dark: rgba(61, 61, 61, 1);
 * * --tertiary-color-light: rgba(255, 255, 255, 1);
 ******************************************************/

/* Style Variables */

@import './root.css';

/* Fonts */

@import './fonts.css';

/* Main Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
}

p {
    color: var(--text-color);
}

.navbar {
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 1000;
}

.logo a {
    color: var(--primary-color);
    text-decoration: none;
}

.navigation {
    width: 40%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.25em;
}

.nav-link a {
    color: inherit;
    text-decoration: none;
}

#lang-select {
    border: none;
    font: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

main {
    padding: 5rem 5rem;
}

.landing {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.hero h1 {
    margin-bottom: 1em;
    font-size: 2.5em;
}

.hero p {
    margin-bottom: 2.5em;
}

.hero-buttons a {
    padding: .5em 1.5em;
    color: inherit;
    font-weight: bold;
}

.hero-buttons a:first-child {
    margin-right: 1em;
    background-color: var(--button-color);
    border: var(--secondary-color) 2px solid;
    text-decoration: none;
    text-transform: uppercase;
}

.hero-buttons a:first-child:hover {
    background-color: var(--primary-color);
}

.scroll-arrow {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
}

.scroll-arrow p:nth-child(1) {
    transform: rotate(-90deg);
}

.scroll-arrow p:last-child {
    margin-top: 2em;
}