.menu-button {
    display: none;
}

.logo-mobile {
    display: none;
}

.close-menu-button {
    display: none;
}

.navbar {
    height: 15vh;
    width: 100%;
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    position: fixed;
    color: white;
    font-weight: var(--font-bold);
    z-index: 1;
}

.navbar-contrast {
    background-color: var(--secondary-color);
}

.logo > a {
    color: white;
    text-decoration: none;
}

.logo > a > img {
    height: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.25em;
}

.nav-link > a {
    color: inherit;
    text-decoration: none;
}

#lang-select {
    height: 100%;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

#lang-select > option {
    color: black;
}

/* Large Laptop */

@media screen and ( max-width: 1200px ) {
    .navbar {
        grid-template-columns: 1fr 1.25fr;
    }
}

/* Small Laptop */

@media screen and ( max-width: 992px ) {
    .navbar {
        grid-template-columns: 1fr 2fr;
    }
}

/* Tablet Width */

@media screen and ( max-width: 768px ) {
    .navbar {
        grid-template-columns: 1fr 4fr;
    }
}

/* Large Mobile  */

@media screen and ( max-width: 576px ) {
    .mobile-nav {
        height: calc(10vh + 1em);
        width: 100%;
        position: fixed;
    }

    .mobile-nav-contrast {
        background-color: var(--secondary-color);
    }

    .menu-button {
        display: block;
        height: fit-content;
        width: fit-content;
        padding: .5em;
        position: fixed;
        top: 0;
        left: 0;
        margin-left: 1em;
        margin-top: 1em;
        color: white;
        cursor: pointer;
    }

    .logo-mobile {
        height: fit-content;
        width: fit-content;
        margin-right: 1em;
        margin-top: 1em;
        padding: .5em;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
    }

    .logo-mobile > img {
        height: 2.5rem;
    }

    .menu-button > svg {
        font-size: 2em;
    }

    .hide-menu-button {
        display: none;
    }

    .close-menu-button {
        height: fit-content;
        width: fit-content;
        display: block;
        color: white;
        cursor: pointer;
        z-index: 1;
    }

    .close-menu-button > svg {
        font-size: 2rem;
    }

    .navbar {
        height: 100vh;
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 0 1fr 2fr;
        background-color: rgba(0, 0, 0, .75);
        z-index: 1;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo > a > img {
        height: 5rem;
    }

    .nav-list {
        height: 75%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    .hide-navbar {
        display: none;
    }
}