/******************************************************
 * ! Variables:
 * * --primary-color: rgba(45, 156, 219, 1);
 * * --secondary-color: rgba(0, 66, 114, 0.9);
 * * --tertiary-color-dark: rgba(61, 61, 61, 1);
 * * --tertiary-color-light: rgba(255, 255, 255, 1);
 * ! Screen Width for Media Query
 * * Device Width (Reference: https://getbootstrap.com/docs/5.0/layout/breakpoints/)
 * * X-Small < 576px
 * * Small >= 576px
 * * Medium >= 768px
 * * Large >= 992px
 * * Extra Large >= 1200px
 * * Extra Extra Large >= 1400px
 * ! Text Weight
 * * --text-bold: 1000;
 * ! Property Values:
 * * Paragraph and Link Font Size -> font-size: 1.2em
 * * Container -> padding: 0 8rem;
 * * -> Top and Bottom = 0 & Left and Right = 8rem
 ******************************************************/

/* Style Variables */

@import '../root.css';

/* Fonts */

@import '../fonts.css';

/* Reboot Style -- (Rafli) */

@import '../reboot.css';

/* Navbar -- (Rafli) */

@import '../navbar.css';

/* Footer -- (Adi) */

@import '../footer.css';

/* Main Style -- Rafli */

.menu-button {
    color: black;
}

main {
    padding: calc(15vh + 2.5rem) 8rem 3rem 8rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5em;
}

.about-header {
    margin-bottom: 1em;
    color: var(--primary-color);
    font-size: 1em;
    text-transform: uppercase;
}

.service-name {
    color: var(--secondary-color);
    font-size: 2.5em;
}

.about-desc {
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.6);
}

@media screen and ( max-width: 1200px ) {
    .main {
        padding: calc(15vh + 2.5rem) 5rem 3rem 5rem;
    }
}

@media screen and ( max-width: 992px ) {
    .main {
        padding: calc(15vh + 2.5rem) 3rem 3rem 3rem;
        grid-template-columns: 1fr;
    }
}

@media screen and ( max-width: 768px ) {
    .about-header {
        text-align: center;
    }

    .about-desc {
        text-align: justify;
    }
}

@media screen and ( max-width: 576px ) {
    .main {
        padding: calc(15vh + 2.5rem) 1rem 3rem 1rem;
    }

    .form {
        grid-template-rows: 3em 3em 3em 3em 3em 3em 10em 2em;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "name"
        "phone"
        "company"
        "position"
        "email"
        "subject"
        "message"
        "button"
        ;
        border-top: .1em solid rgba(0, 0, 0, 0.04);
    }
}

form {
    padding: 1em;
    display: grid;
    grid-template-rows: 3em 3em 3em 3em 10em 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "name phone"
    "company position"
    "email email"
    "subject subject"
    "message message"
    "button button";
    gap: 1.5em;
    border-right: .2em solid rgba(0, 0, 0, 0.04);
    border-bottom: .3em solid rgba(0, 0, 0, 0.04);
    border-left: .2em solid rgba(0, 0, 0, 0.04);
    box-shadow: .3em .75em rgba(0, 0, 0, 0.07);
}

form > input, textarea {
    height: 100%;
    padding: 1em;
    font: inherit;
    border: 2px solid grey;
}

form > textarea {
    resize: none;
}

form > #name {
    grid-area: name;
}

form > #phone {
    grid-area: phone;
}

form > #company {
    grid-area: company;
}

form > #position {
    grid-area: position;
}

form > #email {
    grid-area: email;
}

form > #subject {
    grid-area: subject;
}

form > #message {
    grid-area: message;
}

form > #button {
    grid-area: button;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: .3s;
}

form > #button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

/* Modal */
#modal-target {
    display: none;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-content {
    background-color: #fff;
    padding: 2rem 4rem;
    border-radius: 10px;
}

.modal-icon {
    font-size: 3em;
    color: var(--primary-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content > span {
    display: block;
    font-size: 1.5em;
    text-align: center;
    /* margin-top: 1rem; */
}

.modal-content > a {
    display: block;
    margin: auto;
    background-color: var(--secondary-color);
    color: #fff;
    border: 1px solid var(--secondary-color);
    padding: .5rem 2rem;
    font-size: 1em;
    margin-top: 1rem;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
}

.modal-content > a:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

/* Loading Spinner */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--primary-color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }