.career-heading {
    padding: 8rem 8rem 1rem;
    text-align: center;
}

.career-heading span {
    color: var(--primary-color);
    font-weight: bold;
    display: block;
    padding: .5rem 0;
}

.career-heading h2 {
    font-size: 2em;
    color: var(--secondary-color);
    font-weight: bold;
}

.career-heading p {
    padding: 2rem 3rem 1rem;
    color: var(--secondary-color);
    line-height: 2;
}

.career-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem 8rem .5rem;
}

.career-img {
    width: 100%;
    background-image: url('../../assets/img/career.png');
    background-size: cover;
    background-position-x: 70%;
    border-radius: 5px;
    min-height: 200px;
}

.career-text {
    width: 90%;
    margin: 1rem auto 0;
}

.career-text h2 {
    color: var(--secondary-color);
    font-size: 2em;
    padding: .5rem 0;
}

.career-text h3 {
    color: var(--primary-color);
    font-size: 1em;
    letter-spacing: 2px;
}

.career-detail {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.career-req {
    padding: 1rem 0;
}

.career-req h3 {
    color: var(--tertiary-color-dark);
    letter-spacing: 0;
}

.career-req ul, .career-req ol {
    margin: .5rem 2rem;
}

.career-req ul li, .career-req ol li {
    line-height: 2;
    color: rgba(0, 0, 0, 0.6);
}

.career-text button {
    width: 100%;
    padding: 1rem 0;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: var(--tertiary-color-light);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

.career-text button:hover {
    background-color: transparent;
    color: var(--primary-color);
}